<h1> Add a new photo</h1>

<form action="/new_results">
    <div>
    <b>
     <label for="source_input">
        Image URL
     </label>
     
       
    
    <input type= "text" name= "the_source" id="source_input">
    </div>
        
    <br/>
    <div>
    <label for="caption_input">
        Caption
     </label>
     
     
    
    <input type= "text" name= "the_caption" id="caption_input">
        
    <br/>
    </b>
    
    </div>
    <type = submit> 
    
    <button>Create Photo</button>
    
  
</form>
 