<h1> Add a new photo</h1>

<form action="/new_results">
    <div>
    <b>
     <label for="image_url">
        Image URL
     </label>
     
       
    
    <input type= "text" name= "image_url" id="image_url">
        
    <br/>
    
    <label for="caption">
        Caption
     </label>
     
       
    
    <input type= "text" name= "caption" id="caption">
        
    <br/>
    </b>
    
    </div>
    
    <button>Create Photo</button>
</form>
