<h1> Photo Details</h1>

<img src= "<%= @pic.source %>">

<p>
    
    <%@pic.caption %>
</p>

 <br>
  <form action="/photos">
  <type = submit> 
  <button><a href= "https://photogram-lynnekostakis.c9users.io/photos"></a> Go back</button>
  </form>
 
  <type = submit> 
  <button>Edit</button>
  
  <type = submit> 
  <button>Delete</button>
  